p {
    margin-top: 0;
    margin-bottom: 0;
}

#container {
    width: 400px;
    margin: auto;
    text-align: center;
}

#container button {
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    height: 60px;
    width: 80px;
    font-size: 3em;
    outline: none;
}

#display {
    font-size: 3em;
    padding: 5px 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(206, 206, 206);
    width: 340px;
    height: 65px;
}

#display p {
    font-family: 'digital-7';
    text-align: right;
    line-height: 0.8;
}

#display #operator {
    font-size: 0.45em;
    line-height: 1;
}
